body {
    background-color: rgb(225 225 225);
    color: white;
    min-height: 100vh;
}

.hedgehog {
    padding-top: 20px;
    margin: 20px;

}

.footer {
    background-color: rgb(102 102 102);
    padding: 2em;
    color: rgb(172 170 171)
}

div {
    display: flex;
    flex-direction: row;
}

span {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    display: flex;
}

.column {
    flex-direction: column;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.filler {
    flex-grow: 1;
}

.okashi {
    font-family: 'Okashi Regular';
    font-weight: normal;
    font-size: 48px;
}

.title {
    text-align: center;
    margin-top: 40px;
    color: rgb(76 76 76);
}

.tagline {
    color: rgb(76 76 76);
    text-shadow: -1px -1px 3px white,
        1px -1px 3px white,
        -1px 1px 3px white,
        1px 1px 3px white;
}

.mountain {
    background-image: url("images/default-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(94 66 50)
}

.mountaingrey {
    color: rgb(76 76 76)
}

.productbox {
    background: linear-gradient(rgb(255 235 235), rgb(250 125 121));
    border-radius: 1.1em;
    padding: 1.5em;
    margin: 1em;
    text-align: center;
    box-shadow: 5px 3px 3px rgb(76 76 76);
    min-width: 10em;
    width: 10em;
}

.white {
    color: white;
}

.small {
    font-size: 100%;
    color: rgb(76 76 76)
}

.large {
    font-size: 200%;
    color: rgb(76 76 76)
}

.nudge {
    margin: 0;
    margin-top: -1.2em;
    margin-left: 2.5em;
}

.nudgeleft {
    margin-left: -2.5em;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.icon {
    margin-right: 15px;
    margin-bottom: 5px;
    width: 42px;
}

.insta {
    color: rgb(39 38 37)
}

.redbox {
    border: 1px solid red;
}

@font-face {
    font-family: 'Okashi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Okashi Regular'), url('Okashi-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Okashi italic';
    font-style: normal;
    font-weight: normal;
    src: local('Okashi italic'), url('Okashi-italic.woff') format('woff');
}