body {
    background-color: rgb(225 225 225);
    color: white;
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;

}

.hedgehog {
    padding: 20px;
    -margin: 20px;
    max-width: 20vw;

}

a {
    text-decoration: none;
    color: rgb(250 125 121);
}

a:link {}

a:visited {}

a:hover {
    color: rgb(250 125 121);
}

a:active {}

.biopic {
    max-width: 8em;
    margin-bottom: 2em;
    margin-left: 0.65em;
    margin-right: 0.65em;
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgb(225 225 225);
}

.footer {
    background-color: rgb(102 102 102);
    padding: 2em;
    color: rgb(172 170 171);
    font-family: "Ubuntu", sans-serif;
}

div {
    display: flex;
    flex-direction: row;
}

span {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    display: flex;
}

.column {
    flex-direction: column;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.filler {
    flex-grow: 1;
}

.okashi {
    font-family: 'Okashi Regular';
    font-weight: normal;
    font-size: 48px;
}

.title {
    text-align: center;
    margin-top: 1vh;
    color: rgb(76 76 76);
    font-size: 6vh;
}

.tagline {
    color: rgb(76 76 76);
    text-shadow: -1px -1px 3px white,
        1px -1px 3px white,
        -1px 1px 3px white,
        1px 1px 3px white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mountain {
    background-image: url("images/default-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(94 66 50)
}

.mountaingrey {
    color: rgb(76 76 76)
}

.productbox {
    background: linear-gradient(rgb(255 235 235), rgb(250 125 121));
    border-radius: 1.1em;
    padding: 1.5em;
    margin: 1em;
    text-align: center;
    box-shadow: 5px 3px 3px rgb(76 76 76);
    min-width: 1em;
    width: 7em;
    opacity: 0.9;
    font-size: 100%;
}

.productboxsm {
    background: linear-gradient(rgb(255 235 235), rgb(250 125 121));
    border-radius: 1.1em;
    padding: 1em;
    margin: 0.75em;
    text-align: center;
    box-shadow: 5px 3px 3px rgb(76 76 76);
    min-width: 1em;
    width: 7em;
    opacity: 0.9;
    font-size: small;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.productbox:hover {
    opacity: 1.0;
}

.productboxsm:hover {
    opacity: 1.0;
}

.white {
    color: white;
}

.small {
    font-size: 100%;
    color: rgb(76 76 76)
}

.large {
    font-size: 200%;
    color: rgb(76 76 76)
}

.nudge {
    margin: 0;
    margin-top: -1em;
    text-align: center;
    margin-bottom: 0.5em;
}

.nudgeleft {
    margin-left: -2.5em;
}

.centered {
    text-align: center;
}

p {
    text-align: left;
    padding: 1em;
    background-color: white;
    opacity: 0.85;
    margin: 0;
    padding-bottom: 0em;
    font-size: medium;
    line-height: 150%;
}

p:last-of-type {
    padding-bottom: 1em;
}

input {
border: 1px solid green;
}
label {
    text-align: left;
    padding: 1em;
    background-color: white;
    opacity: 0.85;
    margin: 0;
    padding-bottom: 0em;
    font-size: medium;
    line-height: 150%;
}

.q {
    font-weight: bold;
}

.a {
    font-style: italic;
    padding-top: 0;
}

.a>span {
    font-style: normal;
    font-size: 90%;
    margin-left: 2em;
    line-height: 140%;
}

span.cost {
    display: list-item;
    margin-left: 4em;
}

.bold {
    font-weight: bold;
}

.icon {
    margin-right: 15px;
    margin-bottom: 5px;
    width: 42px;
}

.iconlarge {
    margin-right: 2px;
    margin-bottom: 5px;
    width: 55px;
}

.insta {
    color: rgb(39 38 37)
}

.paybox {
    border: 4px solid green;
}

.redbox {
    border: 1px solid red;
}

@font-face {
    font-family: 'Okashi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Okashi Regular'), url('Okashi-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Okashi italic';
    font-style: normal;
    font-weight: normal;
    src: local('Okashi italic'), url('Okashi-italic.woff') format('woff');
}

.hedgehogfiller {
    opacity: 0;
}

@media screen and (max-width:600px) {
    .hedgehogfiller {
        display:none;
    }
}